/* Reset */
html,
body,
div,
span,
h1,
h2,
h3,
p,
pre,
a,
img,
i,
ul,
li,
form,
label,
article,
aside,
canvas,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
}
/* button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  border-radius: 0;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hello {
  margin: 64px 0px;
  font-size: 32px;
}
.counter {
  margin-bottom: 16px;
}